# typing

In [12]:
emoji = "superstar "

In [8]:
5* emoji

'superstar superstar superstar superstar superstar '

magical triple '

In [9]:
message = '''crazy boy
next line 
hi apple'''

In [10]:
print( message )

crazy boy
next line
hi apple

In [11]:
message

'crazy boy\nnext line \nhi apple'

# interaction with python

input

In [13]:
a = input( "a = ")

a = 87

In [14]:
a

'87'

exchange

In [15]:
m = input( "US dollar = ")

US dollar = 120

float number

In [16]:
float( m ) * 30.5

3660.0

In [18]:
m = input( "US dollars : ")
twd = float( m )*30.5
print ("TWD = " + twd )

US dollars : 128

TypeError: must be str, not float

In [19]:
print( "TWD = " + str(twd) + " NT" )

TWD = 3904.0 NT

## 拍拍機器人

In [20]:
message = input( ">> " )
print("拍拍")

>> 我睡過頭
拍拍

Asking for help

In [29]:
print?

# basic condition determination

In [30]:
2 < 3

True

In [31]:
5 > 20

False

In [32]:
2 <= 3

True

In [33]:
a = 87

In [35]:
a > 50

True

In [36]:
a == 50

False

In [37]:
a != 87

False

In [38]:
"z" > "b"

True

## "and" and "or"

In [39]:
(a > 50 ) and ( a < 100 )

True

In [40]:
( a < 3 ) or ( a > 50 )

True

注意要用小括弧

# Skill

In [41]:
s = 0

In [42]:
s = 1 + s

In [43]:
s

1

In [44]:
s = s + 1

In [45]:
s

2

## loop

In [46]:
s = 1
# python 縮排很重要
while s<10 :
    print( "*" * s )
    s = s + 1

*
**
***
****
*****
******
*******
********
*********

### 拍拍機器人v1.0

In [47]:
message = ""

In [48]:
while message != "bye" :
    message = input( ">>  " )
    print( "拍拍" )

>>  你好
拍拍
>>  今天很難過
拍拍
>>  你好嗎？
拍拍
>>  同學都不教我
拍拍
>>  bye
拍拍

# 字串格式化

In [49]:
name = "Stuart"
place = "Taipei"

In [50]:
message = "Hello, I'm " + name +" from " + place +"."

In [52]:
print( message )

Hello, I'm Stuart from Taipei.

## 資料型態

In [54]:
m = 270
print( str( m ) + " dollars are equal to " + str( m*30.5 ) + " NT" )

270 dollars is equal to 8235.0 NT

In [56]:
print( "{} dollars are equal to {} NT".format( m, m*30.5 ) )

270 dollars are equal to 8235.0 NT

In [58]:
print( "Hello, I'm {} and come from {}. ".format( name, place) )

Hello, I'm Stuart and come from Taipei.

# 函數基本寫法

In [59]:
def square(x):
    return x**2

In [60]:
square(3)

9

In [61]:
square(10)

100

In [62]:
 def 平方( 甲 ):
        print( 甲**2 )

In [63]:
平方(3)

9

In [64]:
平方(10)

100

In [65]:
a = square( 87 )

In [66]:
a

7569

In [67]:
b = 平方( 87 )

7569

In [68]:
b

**b 只有print 出來，沒有回傳數值**

# function practice

In [76]:
def say_hi( name, place ):
    message = "HI, I am {} and come from {}".format( name, place )
    return message

In [77]:
say_hi( "yuyan", "taiwan" )

'HI, I am yuyan and come from taiwan'

In [80]:
print( name )
print( place )
print( message )

Stuart
Taipei
Hello, I'm Stuart from Taipei.

* 前面設定主程式中已出現過的變數
* 函數中變數歸函數

# List cutting

In [81]:
l = [ 3, -5, 6, 8, 10 ]

In [82]:
l

[3, -5, 6, 8, 10]

第一個位置是0

In [85]:
l[0]

3

In [84]:
l[1]

-5

In [86]:
l[4]

10

### 華麗的切割

In [87]:
l[2]

6

In [88]:
l[1:3]

[-5, 6]

In [89]:
l[2:5]

[6, 8, 10]

In [90]:
l[2: ]

[6, 8, 10]

In [91]:
l[ :3]

[3, -5, 6]

In [92]:
l[ : ]

[3, -5, 6, 8, 10]

### “-”指從最後數過來

In [93]:
l[-1]

10

In [96]:
l[-3:-1]

[6, 8]

# 字串像 list

In [97]:
st = "Hello"

In [98]:
st[1:4]

'ell'

In [99]:
name = "楊淯元"

In [100]:
name[0]

'楊'

In [101]:
name[1:]

'淯元'

# list formation

In [102]:
L = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]

In [103]:
list( range( 10 ) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
list( range( 3, 15 ) )

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [105]:
list( "ABCDEF" )

['A', 'B', 'C', 'D', 'E', 'F']

# For loop

In [106]:
L =[1,2,3]

In [107]:
for i in L:
    print( i )

1
2
3

In [108]:
L = [ "cat", "dog", "pig" ]

In [109]:
for i in L:
    print( i )

cat
dog
pig

In [110]:
for i in range( 1, 11 ):
    print( i*2 )

2
4
6
8
10
12
14
16
18
20

In [113]:
for i in range( 1, 11 ):
    print ("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********

## 字串

In [114]:
keyword = "悲傷"

In [116]:
message = "我今天很悲傷"

In [117]:
keyword in message

True

## 串列

In [118]:
L = [34, 23, 12, 88, 95, 74]

In [119]:
79 in L

False

In [120]:
12 in L

True

# IF loop

In [122]:
a = 80
if a > 7:
    print( "OK")

OK

In [128]:
message = input( ">> " )
if ( "悲傷" in message ): 
    print( "拍拍" )
elif ("開心" in message ):
    print( "好棒棒" )
else :
    print( "我知道了" )

>> 我累了
我知道了

## 亂數好玩

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
randint( 3, 21 )

6

In [136]:
for i in range (10) :
    k = randint( 1, 50 )
    print(" " *k + "*" )

                                          *
                           *
                                            *
                                   *
     *
       *
             *
              *
                   *
                                       *

# 猜數字遊戲 1A1B

* 隨機數字可能重複
* 沒有0會出現

In [28]:
num = [ 0, 0, 0 ,0 ]
while ( num[0] == num[1] or num[0] == num[2] or num[0] == num[3] or num[1] == num[2] or num[1] == num[3] or num[2] == num[3] ):
    num = [ randint( 1, 10 ), randint( 0, 10 ), randint( 0, 10 ), randint( 0, 10 ) ]
guess = [ 0, 0, 0, 0 ]
print ( num )

[8, 4, 2, 3]

In [34]:
while guess != num:
    A = 0
    B = 0
    guess = [ int(input(">> ")), int(input(">> ")), int(input(">> ")), int(input(">> ")) ]
    while guess[0] >= 10 or guess[1] >= 10 or guess[2] >= 10 or guess[3] >10 :
        print( "請重新輸入，一次輸一個數字")
        guess = [ 0, 0, 0, 0 ]
        guess = [ int(input(">> ")), int(input(">> ")), int(input(">> ")), int(input(">> ")) ]
    for i in range(4):
        if (  num[i] == guess[i] ):
            A = A+1
        elif ( i == 0 ):
            if ( num[i] == guess[1] ):
                B = B+1
            elif ( num[i] == guess[2] ):
                B = B+1
            elif ( num[i] == guess[3] ):
                B = B+1
        elif ( i == 1 ):
            if ( num[i] == guess[0] ):
                B = B+1
            elif ( num[i] == guess[2] ):
                B = B+1
            elif ( num[i] == guess[3] ):
                B = B+1
        elif ( i == 2 ):
            if ( num[i] == guess[0] ):
                B = B+1
            elif ( num[i] == guess[1] ):
                B = B+1
            elif ( num[i] == guess[3] ):
                B = B+1
        elif (i == 3 ):
            if ( num[i] == guess[0] ):
                B = B+1
            elif ( num[i] == guess[1] ):
                B = B+1
            elif ( num[i] == guess[2] ):
                B = B+1
    print ( "{}A{}B".format( A, B ) )
if A == 4:
    print ( "答對了，答案是:{}".format( num ) ) 
else:
    print ( "再接再厲！" )

答對了，答案是:[8, 4, 2, 3]

In [30]:
print ( num )

[8, 4, 2, 3]